@import './nav.css';
@import './gen_format.css';

#big_flx {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #A1D6E2;
}

div + button::first-line {
    text-decoration: underline;
    font-weight: bold;
}

h3 + p {
    font-size: large;
}

#card {
    display: flex;
    border: .5px solid black;
    flex-direction: column;
}

div + #logo {
    display: flex;
    flex-direction: row;
}

p + img {
    width: 15%;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    mix-blend-mode: multiply;
}

.collapsible {
    cursor: pointer;
    background-color: #A1D6E2;
}


.collapsible:hover {
    background-color: lightblue;
}

.collapsible::after {
    content: '+';
    float: right;
    font-size: 15px;
}

.collapsible::before {
    content: '+';
    float: left;
    font-size: 15px;
}

.content {
    display: none;
    overflow: hidden;
    background-color: lightgray;
}


.col_active::after {
    content: '-';
}

.col_active::before {
    content: '-';
}

div + p
{
    opacity:0.5;
    color: #d3d3d3;
    position: fixed;
    bottom: 0;
    align-items: center;
}

.hide {
    display: none;
}