.nav {
    overflow: hidden;
    background-color: #A1D6E2;
    display: flex;
    flex-direction: row;
}

.nav a,button {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px outset;
    border-radius: 3px;
    background-color: #A1D6E2;
}

.nav a:hover,button:hover {
    background-color: lightblue;
}

.nav a.nav_active {
    background-color: #d3d3d3;
    color: white;
}

.nav button {
    border: 1px solid black;
}

.hide {
    display: none !important;
}