@import './nav.css';
@import './gen_format.css';

div .row {
    display: flex;
    border: .5px solid black;
    margin: 2px;
}

div img.col {
    width: 100px;
}

div .col {
    border: .5px solid black;
    background-color: white;
}

#selection {
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    position: fixed;
    bottom: 0px;
    right: 2px;
    left: 2px;
}

#selection button {
    align-self: stretch;
}