@import './nav.css';
@import './gen_format.css';
div + form {
    display: flex;
    margin-left: 2px;
}

button + span {
    padding: 10px;
}

#user_team {
    height: 38.4px;
    width: auto;
}

.mag,.info {
    padding: 10px;
}

.mag_tooltip,.tooltip {
    position: relative;
    display: inline-block;
  }
.mag_tooltip .mag_tip_text {
    visibility: hidden;
    width: 120px;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.mag_tooltip:hover .mag_tip_text {
        visibility: visible;
    }
  
  /* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.hidden_sel {
    display: none;
}

.show_inline_sel {
    display: inline;
}

.show_flex_sel {
    display:flex;
}

div .sel_row {
    display: flex;
    border: .5px solid black;
    margin-left: 2px;
    margin-right: 2px;
}

div img.col {
    width: 100px;
}

div .col {
    border: .5px solid black;
    background-color: white;
    width: 50%;
}

#selection {
    display: flex;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    position: fixed;
    bottom: 0px;
    width: 98%;
    justify-content: center;
}

.blue_border {
    border: .5px solid lightblue;
}

.load_window {
    justify-content: center;
    display: none;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }